In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv(r"C:\Users\muthuraj.jayaseelan\insurance.csv")

In [5]:
df.shape

(1338, 7)

In [6]:
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [7]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [8]:
df['smoker']=df['smoker'].replace(['yes'],'1')
df['smoker']=df['smoker'].replace(['no'],'0')
df['sex']=df['sex'].replace(['male'],'1')
df['sex']=df['sex'].replace(['female'],'0')

In [9]:
df.head()

   age sex     bmi  children smoker     region      charges
0   19   0  27.900         0      1  southwest  16884.92400
1   18   1  33.770         1      0  southeast   1725.55230
2   28   1  33.000         3      0  southeast   4449.46200
3   33   1  22.705         0      0  northwest  21984.47061
4   32   1  28.880         0      0  northwest   3866.85520

In [11]:
df['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [16]:
df['region']=(
    df['region'].replace(['southwest'],'0')
    .replace(['southeast'],'1')
    .replace(['northwest'],'2')
    .replace(['northeast'],'3')
)

In [17]:
df.head()

   age sex     bmi  children smoker region      charges
0   19   0  27.900         0      1      0  16884.92400
1   18   1  33.770         1      0      1   1725.55230
2   28   1  33.000         3      0      1   4449.46200
3   33   1  22.705         0      0      2  21984.47061
4   32   1  28.880         0      0      2   3866.85520

In [50]:
x = df.drop('charges',axis=1)
y = df['charges']

In [59]:
x

      age sex     bmi  children smoker region
0      19   0  27.900         0      1      0
1      18   1  33.770         1      0      1
2      28   1  33.000         3      0      1
3      33   1  22.705         0      0      2
4      32   1  28.880         0      0      2
...   ...  ..     ...       ...    ...    ...
1333   50   1  30.970         3      0      2
1334   18   0  31.920         0      0      3
1335   18   0  36.850         0      0      1
1336   21   0  25.800         0      0      0
1337   61   0  29.070         0      1      2

[1338 rows x 6 columns]

In [60]:
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [61]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [62]:
from sklearn.linear_model import LinearRegression
regress = LinearRegression()
regress.fit(x_train,y_train)

LinearRegression()

In [63]:
#preditcion
y_predict = regress.predict(x_test)
datasetComparison = pd.DataFrame({'Actual':y_test,'Predicted':y_predict})
print(datasetComparison)

           Actual     Predicted
838    6402.29135   6344.138158
4      3866.85520   5503.857876
114   11488.31695  14029.097835
1137   3176.28770   1962.473182
49    38709.17600  32531.578456
...           ...           ...
1054   3353.47030   1991.783912
832    4719.73655   4156.609936
1061  11554.22360  11965.681731
195    1639.56310   2590.279986
1272  14478.33015   9834.444443

[335 rows x 2 columns]

In [64]:
y_predict

array([ 6.34413816e+03,  5.50385788e+03,  1.40290978e+04,  1.96247318e+03,
        3.25315785e+04,  2.75962006e+04,  1.16355999e+04,  3.29701621e+03,
        1.42734238e+04,  4.01207581e+04,  6.92853374e+03,  1.52019520e+04,
        3.34047849e+04,  8.62419231e+03,  5.95921973e+03,  1.79440978e+04,
        1.32009769e+04,  3.40265461e+04,  6.98349215e+03,  3.35999671e+04,
        2.95731908e+04,  1.17214237e+04,  4.39605425e+02,  4.13260472e+02,
        1.90493024e+03,  9.19233786e+03,  9.84688311e+03,  1.04916199e+04,
        9.94464560e+03,  1.40019460e+04,  7.98531774e+03,  1.04946745e+04,
        8.04395350e+03,  6.06830416e+03,  4.93994998e+03,  1.10213793e+04,
        1.26303617e+04,  8.70008708e+03,  1.24232747e+04, -2.82472047e+01,
        8.02631305e+03,  4.19671401e+03,  9.59529335e+03,  1.02126048e+04,
        9.82103914e+03,  4.02425510e+04,  2.90369604e+04,  4.64022190e+03,
        5.97767023e+03,  4.95980169e+03,  1.04576751e+04,  3.10153945e+04,
        1.12777102e+04,  3.04626341e+04,  2.37605964e+03,  8.19091032e+03,
        3.33252070e+04,  9.95634692e+03,  1.22013970e+04,  7.92668836e+03,
        1.52368722e+04,  3.25347066e+03,  1.03040400e+04,  3.00733616e+04,
        1.70799903e+04,  1.16259772e+04,  1.48135389e+04,  8.49343881e+03,
        3.91729928e+04,  2.59014260e+03,  3.88647961e+03,  7.31687389e+03,
        2.68342237e+03,  2.79744870e+03,  1.12006051e+04,  1.02299751e+04,
        1.04418395e+04,  3.26883712e+04,  6.05709775e+03,  2.69864530e+04,
        3.38988374e+04,  1.47380116e+04,  3.28199002e+03,  2.57041181e+03,
        6.62110039e+03,  4.06089203e+03,  3.31869729e+03,  6.49075906e+03,
        1.18565242e+04,  3.64147720e+04,  5.90371368e+03,  1.50798418e+04,
        1.12164132e+04,  3.90254147e+04,  1.09644432e+04,  2.75449651e+04,
        2.58111706e+04,  1.30636224e+04,  9.09299136e+03,  1.26299230e+04,
        5.42654218e+03,  1.22450747e+04,  2.72139246e+04,  1.08660782e+04,
        1.07408200e+04,  1.07618942e+04,  3.77944570e+03,  3.00888233e+04,
        3.32620823e+03,  5.65346612e+03,  1.22943671e+04,  5.50683640e+02,
        6.47091473e+03,  2.83070944e+04,  2.02640917e+02,  3.18789657e+04,
        1.25277932e+04,  1.60839812e+04,  1.35140535e+04,  2.65201900e+04,
        4.65520671e+03,  1.38280230e+04,  5.05889755e+03,  5.65191490e+03,
        3.23299534e+03,  4.15829854e+03,  8.64324095e+03,  1.13026647e+04,
        9.99530859e+03,  3.70920910e+04,  1.04692706e+04,  1.38041062e+04,
        2.60478217e+04,  9.95888173e+03,  2.64357182e+04,  6.30842354e+03,
        9.24443990e+03,  3.23206775e+04,  3.37500360e+04,  5.27704443e+03,
        1.31527911e+04,  1.33632088e+04,  3.17110300e+04,  3.90387956e+03,
        3.03333383e+04,  3.81630519e+04,  8.46334332e+03,  3.24397447e+04,
        3.80239419e+04,  1.52244321e+04,  3.02863685e+04,  3.09217774e+04,
        1.02648752e+04,  3.48815773e+04,  7.93832166e+03,  4.05327571e+04,
        1.28654487e+04,  1.26265936e+04,  2.10686798e+03,  3.09011155e+04,
        4.36743931e+03,  1.52785157e+03,  1.43812906e+04,  9.29929857e+03,
        1.40592222e+04,  1.26654300e+04,  3.84831844e+03,  2.73136788e+04,
        3.17080787e+03,  6.50549823e+03,  2.16353398e+03,  5.99576806e+03,
        3.99655363e+03,  3.70156150e+04,  1.43160640e+04,  1.19688177e+04,
        2.86255111e+04,  7.06476560e+03,  1.05688886e+04,  1.52194638e+04,
        1.14362399e+04,  8.48153878e+03,  1.03746518e+04,  6.54342803e+03,
        2.58947509e+04,  3.12908332e+04,  3.18177300e+04,  1.15937384e+04,
        1.20183364e+04,  3.68206131e+04,  2.73855246e+03,  3.64852740e+04,
        4.81990265e+03,  1.49429011e+04,  3.08181745e+04,  3.84062852e+04,
        3.68803997e+04, -1.37752604e+03,  1.70054326e+03,  8.35212771e+03,
        3.40175916e+04,  5.97633446e+03,  5.85171800e+03,  1.08804451e+04,
        5.04101530e+03,  3.85462571e+03,  2.77620891e+03,  2.94732110e+04,
        1.40562707e+04,  7.92274783e+03,  3.64849992e+04,  1.31306940e+04,
        2.01009702e+03,  1.18132800e+04,  5.98232568e+03,  1.18913444e+04,
        9.17867914e+03,  6.36883108e+03,  1.13503993e+04,  5.41379855e+03,
        4.87811193e+03,  2.49761422e+04,  4.44909515e+03,  3.66727250e+04,
        2.85362101e+04,  2.54313667e+04,  9.67092655e+03,  1.30690725e+04,
        1.22216263e+04,  5.53347311e+03,  1.70822826e+03,  8.99650737e+03,
        8.88983250e+02, -1.65650824e+03,  1.02335516e+04,  8.52301033e+03,
        7.28914830e+03,  3.87903606e+04,  4.62699835e+03,  1.51597409e+04,
        3.53368566e+04,  7.01593372e+03,  1.07799081e+04,  4.10760868e+04,
        5.47009080e+03,  1.64249594e+04,  1.25078743e+04,  2.71442682e+04,
        1.31485000e+04,  5.49070351e+03,  1.26470576e+04,  9.82760264e+03,
        1.19807958e+04,  8.26937611e+03,  2.89544429e+04,  1.36659199e+04,
        8.89955055e+03,  3.53073412e+04,  1.28090684e+04,  6.85942525e+03,
        1.17438369e+04,  8.65866514e+03,  3.14739775e+04,  7.10810862e+03,
        1.39140138e+04,  3.56912938e+04,  5.44883264e+03,  4.12165241e+03,
        1.63172125e+04,  1.13058832e+04,  1.38955052e+04,  1.57502254e+04,
        1.53283790e+04,  3.01698336e+04,  1.42178240e+04,  1.46023975e+04,
        3.89799059e+04,  1.35389358e+04,  9.30855971e+03,  3.25932215e+04,
        5.16942752e+03,  7.16252552e+03,  2.72332306e+03,  3.23055564e+04,
        3.43125842e+04,  2.80981621e+04,  2.35400014e+03,  3.12814214e+04,
        4.00802984e+04,  1.08535637e+04,  4.26110729e+03,  2.08026567e+03,
        3.29806676e+03,  4.36498495e+03,  1.48563536e+04,  1.32108282e+04,
        2.71173251e+04,  1.02952958e+03,  5.60680402e+03,  2.83379832e+04,
        1.59254028e+04,  5.96411461e+03,  3.73497176e+04,  9.63105029e+03,
        3.00211198e+04,  5.45095335e+03,  1.54707200e+04,  9.88418709e+03,
        3.30274184e+04,  6.55307379e+03,  7.93957924e+03,  1.17777302e+04,
        1.29020968e+04,  4.50033562e+02,  1.38336838e+04,  1.19820244e+04,
        2.49659316e+04,  1.37955377e+04,  1.43032041e+04,  8.88447596e+03,
        3.16788910e+04,  2.48167912e+03,  2.58711330e+04,  2.87394189e+04,
        1.19704378e+04,  1.46298263e+04,  9.13532568e+03,  1.58750785e+04,
        1.28541158e+03,  9.19528484e+03,  1.99178391e+03,  4.15660994e+03,
        1.19656817e+04,  2.59027999e+03,  9.83444444e+03])

In [65]:
print(regress.intercept_)

-12717.776890634846

In [66]:
print(regress.coef_)

[  264.89569737  -109.3579536    309.98022008   581.86365189
 23878.24997228   451.0508242 ]

In [67]:
from sklearn import metrics
print('Mean Absolute Error: ',metrics.mean_absolute_error(y_test,y_predict))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_predict))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_predict)))

Mean Absolute Error:  4415.178289895078
Mean Squared Error: 40814159.8159518
Root Mean Squared Error: 6388.5960755045235