# Working with Pandas

##### GETTING STARTED:

In [2]:
import pandas

In [3]:
mydataset = {'cars': ["BMW", "Volvo", "Ford"],'passings': [3, 7, 2]}
myvar = pandas.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [4]:
#Pandas is usually imported under the ‘pd’ alias.
import pandas as pd

In [6]:
mydataset2 = {'cars': ["BMW", "Volvo", "Ford"],'passings': [3, 7, 2]}
myvar2 = pd.DataFrame(mydataset2)
print(myvar2)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [7]:
#To check pandas version
import pandas as pd 
print(pd.__version__)

1.3.4

## DataFrame

In [8]:
#A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns

In [11]:
import pandas as pd 
data = { "calories": [420, 380, 390], "duration": [50, 40, 45] } 

#load data into a DataFrame object
df = pd.DataFrame(data) 
print(df)

   calories  duration
0       420        50
1       380        40
2       390        45

## Locate Rows

Pandas use the ‘loc’ attribute to return one or more specified row(s)

In [12]:
print(df.loc[0])

calories    420
duration     50
Name: 0, dtype: int64

In [16]:
print(df.loc[0:])

   calories  duration
0       420        50
1       380        40
2       390        45

## Load files into DataFrame

In [18]:
dataset = pd.read_csv(r"C:\Users\muthuraj.jayaseelan\student_scores.csv")
print(dataset)

    Hours  Scores
0     2.5      21
1     5.1      47
2     3.2      27
3     8.5      75
4     3.5      30
5     1.5      20
6     9.2      88
7     5.5      60
8     8.3      81
9     2.7      25
10    7.7      85
11    5.9      62
12    4.5      41
13    3.3      42
14    1.1      17
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

## Viewing the Data 
One of the most used method for getting a quick overview of the DataFrame, is the head() method. 
The head() method returns the headers and a specified number of rows, starting from the top.

In [19]:
dataset.head(10)

   Hours  Scores
0    2.5      21
1    5.1      47
2    3.2      27
3    8.5      75
4    3.5      30
5    1.5      20
6    9.2      88
7    5.5      60
8    8.3      81
9    2.7      25

There is also a tail() method for viewing the last rows of the DataFrame. 
The tail() method returns the headers and a specified number of rows, starting from the bottom.

In [21]:
dataset.tail(10)

    Hours  Scores
15    8.9      95
16    2.5      30
17    1.9      24
18    6.1      67
19    7.4      69
20    2.7      30
21    4.8      54
22    3.8      35
23    6.9      76
24    7.8      86

## Describing the Data
gives the statistical description of the data

In [22]:
dataset.describe()

           Hours     Scores
count  25.000000  25.000000
mean    5.012000  51.480000
std     2.525094  25.286887
min     1.100000  17.000000
25%     2.700000  30.000000
50%     4.800000  47.000000
75%     7.400000  75.000000
max     9.200000  95.000000

## Finding Relationships 
A great aspect of the Pandas module is the corr() method. 
The corr() method calculates the relationship between each column in your data set.

In [23]:
dataset.corr()

           Hours    Scores
Hours   1.000000  0.976191
Scores  0.976191  1.000000

## Results Explained
The Result of the corr() method is a table with a lot of numbers that represents how well the relationship is between two columns.<br>
The number varies from -1 to 1.<br>
1 means that there is a 1 to 1 relationship (a perfect correlation), and for this data set, each time a value went up in the first column, the other one went up as well. <br>
0.9 is also a good relationship, and if you increase one value, the other will probably increase as well. <br>
-0.9 would be just as good relationship as 0.9, but if you increase one value, the other will probably go down. <br>
0.2 means NOT a good relationship, meaning that if one value goes up does not mean that the other will.